<% provide(:page_title, @post.title) %>

<br>

<div class="row">
<<<<<<< HEAD
	<div class="container">
		<div class="col-md-12 col-lg-12">
			<h1><center><%= @post.title %></center></h1>
			<p><center><%= @post.display_day_published %></center></p>
			<br>
			<%= raw(@post.body) %>
		</div>
=======
	<div class="col-md-12 col-lg-12">
		<h1><center><%= @post.title %></center></h1>
		<p><center><%= @post.display_day_published %></center></p>
		<br>
		<br>
		<%= raw(@post.body) %>
>>>>>>> cfef13be2f99f4ad9f934a62d1a0d356a75139f9
	</div>
</div>	

